{{template "base" .}}

{{ define "content"}}
<div class="container">
<div class="row">
  <div class="col">
  <h1>Home</h1>
  <p1>
  The page is home
  The page is home

  </p1>
  </div>
</div>
</div>
{{end}}